@model List<SmartHRIS.Models.Employee>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>City</th>
            <th>Country</th>
            <th>ZipCode</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.EmployeeId</td>
                <td>@emp.Name</td>
                <td>@emp.Email</td>
                <td>@emp.PhoneNumber</td>
                <td>@emp.City</td>
                <td>@emp.Country</td>
                <td>@emp.ZipCode</td>
                <td>
                    <!-- Edit button -->
                    @Html.ActionLink("Edit", "Edit", new { phone = emp.PhoneNumber }, new { @class = "btn btn-primary m-1" })

                    <!-- Details button -->
                    @Html.ActionLink("Details", "Details", new { phone = emp.PhoneNumber }, new { @class = "btn btn-info m-1" })

                    <!-- Delete button -->
                    <form asp-action="Delete" asp-route-phone="@emp.PhoneNumber" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger m-1"
                                onclick="return confirm('Are you sure you want to delete this employee?');">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>

<a class="btn btn-secondary" href="/Home/Index">Back to Dashboard</a>
